@model Group3_MVC4.Models.Watch
@{
    ViewBag.Title = "Bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var models = ViewBag.models;
    var stores = ViewBag.stores;
    List<SelectListItem> listmodels = new List<SelectListItem>
    {
        new SelectListItem
        { 
            Text="---- Chọn model thích hợp ----",
            Value="null",
            Selected = true
        }
    };
    List<SelectListItem> liststores = new List<SelectListItem>{
        new SelectListItem
        { 
            Text="---- Chọn cửa hàng bạn muốn bán ----",
            Value="null",
            Selected = true
        }
    };
    foreach (var model in models)
    {
        listmodels.Add(new SelectListItem
        {
            Text = model.Name,
            Value = model.Id.ToString()
        });
    }
    foreach (var store in stores)
    {
        liststores.Add(new SelectListItem
        {
            Text = store.Name,
            Value = store.Id.ToString()
        });
    }
}

<div id="content" class="space-top-none" style="border: 2px solid rgba(0,0,0,0.1); padding: 10px; border-radius: 5px; ">
    <div class="space50">&nbsp;</div>
    <div class="row">
        <div class="col-sm-8">
            <h2>Điền các thông tin cần thiết</h2>
            <div class="space20">&nbsp;</div>
            <p>Vui lòng cung cấp các thông tin cần thiết: </p>
            <div class="space20">&nbsp;</div>
            <form action="#" method="post" class="contact-form">
                <div class="form-block">
                    <input name="MemberId" type="text" placeholder="Số ĐT (*)">
                </div>
                <div class="form-block">
                    <input name="Name" type="text" placeholder="Tên đồng hồ">
                </div>           
                <div class="form-block">
                    <input name="GlassType" type="text" placeholder="Mặt kính">
                </div>  
                <div class="form-block">
                    <input name="CaseMeterial" type="text" placeholder="Chất liệu">
                </div>   
                <div class="form-block">
                    <input name="MainColor" type="text" placeholder="Màu Sắc">
                </div> 
                <div class="form-block">
                    <input name="InTransactionPrice" type="text" placeholder="Giá mong muốn">
                </div>
                <div class="form-block">
                    @Html.DropDownList("ModelId", listmodels, new { @class = "form-control" })
                </div>
                <div class="form-block">
                    @Html.DropDownList("AvailableAt", liststores, new { @class = "form-control" })
                </div>
                <div class="form-block">
                    <input name="file" type="file" placeholder="Hình ảnh">
                </div>
                <div class="form-block">
                    <button type="submit" class="beta-btn primary">Gửi yêu cầu <i class="fa fa-chevron-right"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h2>Điều khoản mua bán</h2>
            <div class="space20">&nbsp;</div>

            <h6 class="contact-title">Sản phẩm</h6>
            <p>
                Sẽ được kiểm tra trước khi<br>
                giao dịch
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title">Giá cả</h6>
            <p>
                Giá cả tốt nhất cho sản phẩm của bạn <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title">Kí gửi</h6>
            <p>
                Bạn có thể kí gửi bán sản phẩm với <br>
                chi phí thấp nhất. <br>
            </p>
            <div class="space20">&nbsp;</div>
            <h6 class="contact-title">Giao dịch</h6>
            <p>
                Bạn phải đến chi nhánh trực tiếp <br>
                để kiểm tra sản phẩm trước khi <br>
                giao dịch hoàn tất.
            </p>
        </div>
    </div>
</div> <!-- #content -->
