@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dest/css/custom.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="row-centered" style="margin-bottom: 20px;">
            <div id="custom-search-input">
                <div class="input-group col-md-8 col-md-offset-2">
                    <input type="text" class="search-query form-group" placeholder=" Nhập từ khóa tìm kiếm ..." />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        @*============= search result*@
        <div id="divSearchResult">
            <div id="showResult">

            </div>
        </div>

        @*=========end search result*@



        @*<div class="row-centered">
                <div class="beta-tags search">
                    <a href="blog_fullwidth_2col.html">Đồng hồ</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ thông minh</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ thể thao</a>
                    <a href="blog_fullwidth_2col.html">Casio</a>
                    <a href="blog_fullwidth_2col.html">G-Shot</a>
                    <a href="blog_fullwidth_2col.html">Chống nước</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ nam</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ giá rẻ</a>
                </div>
            </div>*@
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <hr />
        <span style="font-size: 16px;">Có thể bạn muốn xem?</span>
    </div>
    <div class="space40">&nbsp;</div>
    <div class="clear"></div>
    <div class="col-sm-12">
        <div class="well">
            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb11"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb12"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb13"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb14"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb21"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb22"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb23"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb24"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb31"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb32"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb33"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="thumbnail"><img class="img-responsive" src="http://placehold.it/250x160" alt="Thumb34"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            </div><!-- End Carousel -->
        </div><!-- End Well -->
    </div>
</div>
<script>
    //$('#myCarousel').carousel({
    //    interval: 4000
    //});

    function Search() {
        var search = document.getElementById('Search').value;
        $.ajax({
            url: "/Home/Search",
            type: "POST",
            data: { search: search },
            success: function (res) {
                if (res !="") {
                    $("#showResult").html('<h3>Kết quả tìm kiếm</h3> <br/>' + res);
                }
                else {
                    $("#showResult").html('<h3>Kết quả tìm kiếm</h3> <br/>' +
                        '<div class="row-centered">' +
                        '<label>Không tìm thấy kết quả !</label> <br/> ' +
                        '<button type="button" class="btn btn-primary">Đặt Mua</button>' +
                        '</div>'
                        );

                }
                // alert(res);

                //$("#divSearchResult").append('<h2>Search Result</h2>');
                //if (res) {
                //    document.getElementById("divSearchResult").style.display = "none";
                //} else {
                //    var data = res;
                //    var htmlTag = $(".beta-products-list");
                //    for (i = 0; i < data.length; i++) {
                //        var ele = htmlTag.clone();
                //        var watchName = ele.find(".watchName");
                //        watchName.html(data[i].name);
                //        $("#divSearchResult").append(ele);
                //    }
                //}
            }
            //,
            //e1rror: function(res) {
            //    alert(res.t);
            //}

        });
    }
</script>