@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dest/css/custom.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 main-content">
        <div class="beta-products-list">
            <h2>Đồng Hồ Thể Thao</h2>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="@Url.Action("")"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm:  AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc:  Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/buy/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/buy/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/buy/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/buy/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/buy/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination pagination-lg">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div> <!-- .main-content -->
    <div class="shopping-cart">
        <ul></ul>
    </div>
</div>
