@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-9 main-content pull-right">
        <div class="beta-products-list">
            <div class="header-bottom"></div><div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="@Url.Action("")"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm:  AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc:  Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="beta-products-list">
            <div class="header-bottom"></div>
            <div class="space30">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><img src="/Images/Watches/1.jpg" alt=""></a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-5 ">
                    <div class="single-item">


                        <div class="single-item-header">
                            <a href="/home/ViewWatchDetail"><h4>Aiers B125G</h4></a>
                        </div>
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Mã sản phẩm: AE001-01
                            </p>
                            <p class="single-item-title">
                                Màu sắc: Mặt vàng, dây mạ vàng (N1)
                            </p>
                        </div>
                        <div class="single-item-caption">

                            <a class="beta-btn primary" href="/home/ViewWatchDetail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="single-item">
                        <div class="single-item-header">
                            <p class="single-item-title">
                                Giá bán đề nghị
                            </p>
                            <h4>3,900,000</h4>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination pagination-lg">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div> <!-- .main-content -->

    <div class="col-sm-3 aside">
        <div class="widget">
            <h3 class="widget-title">Thương hiệu</h3>
            <div class="widget-body">
                <ul class="list-unstyled">
                    <li>
                        <input type="checkbox" name="brands" id="brands-abs" value="abs">
                        <label for="brands-abs"><span></span> Hiệu 1</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-ag" value="ag">
                        <label for="brands-ag"><span></span> Hiệu 2</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-aliceolivia" value="aliceolivia">
                        <label for="brands-aliceolivia"><span></span> Hiệu 3</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-autumn" value="autumn">
                        <label for="brands-autumn"><span></span> Hiệu 4</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-bcbgmaxazria" value="bcbgmaxazria">
                        <label for="brands-bcbgmaxazria"><span></span> Hiệu 5</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-dkny" value="dkny">
                        <label for="brands-dkny"><span></span> Hiệu 6</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-elie" value="elie">
                        <label for="brands-elie"><span></span> Hiệu 7</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-megaschoni" value="megaschoni">
                        <label for="brands-megaschoni"><span></span> Hiệu 8</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-newyork" value="newyork">
                        <label for="brands-newyork"><span></span> Hiệu 9</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-miller" value="miller">
                        <label for="brands-miller"><span></span> Hiệu 10</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-redvalentino" value="redvalentino">
                        <label for="brands-redvalentino"><span></span> Hiệu 11</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-suewong" value="suewong">
                        <label for="brands-suewong"><span></span> Hiệu 12</label>
                    </li>
                    <li>
                        <input type="checkbox" name="brands" id="brands-wyatt" value="wyatt">
                        <label for="brands-wyatt"><span></span> Hiệu 13</label>
                    </li>
                </ul>
            </div>
        </div> <!-- brands widget -->

        <div class="widget">
            <h3 class="widget-title">Màu sắc</h3>
            <div class="widget-body">
                <ul class="list-unstyled">
                    <li>
                        <input type="checkbox" name="colors" id="colors-beige" value="beige">
                        <label for="colors-beige"><span></span> Xanh <span>(35)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-blue" value="blue">
                        <label for="colors-blue"><span></span> Đỏ <span>(256)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-cream" value="cream">
                        <label for="colors-cream"><span></span> Đen <span>(15)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-green" value="green">
                        <label for="colors-green"><span></span> Xám <span>(85)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-multi" value="multi">
                        <label for="colors-multi"><span></span> Da bò <span>(99)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-orange" value="orange">
                        <label for="colors-orange"><span></span> Đất nung <span>(358)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-purple" value="purple">
                        <label for="colors-purple"><span></span> Gỗ dầu <span>(74)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-silver" value="silver">
                        <label for="colors-silver"><span></span> Trắng <span>(33)</span></label>
                    </li>
                    <li>
                        <input type="checkbox" name="colors" id="colors-white" value="white">
                        <label for="colors-white"><span></span> Bạch kim <span>(789)</span></label>
                    </li>
                </ul>
            </div>
        </div> <!-- colors widget -->

        <div class="widget">
            <h3 class="widget-title">Giá cả</h3>
            <div class="widget-body">
                <div class="price-filter">
                    <div id="price-filter-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30%;"></a><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 30%;"></div></div>
                    <span class="pull-left">Giá: <span id="price-filter-amount">0 - 5,000,000</span></span>
                    <a href="#" class="beta-btn primary pull-right">Lọc<i class="fa fa-chevron-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> <!-- price range widget -->

        <div class="widget">
            <h3 class="widget-title">Tags</h3>
            <div class="widget-body">
                <div class="beta-tags">
                    <a href="blog_fullwidth_2col.html">Đồng hồ</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ thông minh</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ thể thao</a>
                    <a href="blog_fullwidth_2col.html">Casio</a>
                    <a href="blog_fullwidth_2col.html">G-Shot</a>
                    <a href="blog_fullwidth_2col.html">Chống nước</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ nam</a>
                    <a href="blog_fullwidth_2col.html">Đồng hồ giá rẻ</a>
                </div>
            </div>
        </div> <!-- tags cloud widget -->
    </div> <!-- .aside -->
</div>
