.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 500px;
        }
}

.search {
    margin-left: 0;
    margin-right: 0;
}

/*Center row*/
/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

/*#####################
Additional Styles (required)
######################*/

#myCarousel .thumbnail {
    margin-bottom: 0;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-control {
    color: #fff;
    top: 40%;
    color: #428BCA;
    bottom: auto;
    padding-top: 4px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 1;
}

    .carousel-control:hover {
        color: #d9534f;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel-control.right {
        left: auto;
        right: -32px;
    }

    .carousel-control.left {
        right: auto;
        left: -32px;
    }

.carousel-indicators {
    bottom: -30px;
}

    .carousel-indicators li {
        border-radius: 0;
        width: 10px;
        height: 10px;
        background: #ccc;
        border: 1px solid #ccc;
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        background: #3276b1;
        border-color: #3276b1;
    }

#myCarousel a > i {
    color: #3A5C83;
}

h2, .h2 {
    font-family: "Arial",sans-serif;
}

/*Slider*/
.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

    .btn-clear:hover {
        color: #000;
        background-color: #FFF;
    }

/*Modal*/
.modal .modal-header {
    border-bottom: none;
    position: relative;
}

    .modal .modal-header .btn {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

.modal .modal-footer {
    border-top: none;
    padding: 0;
}

    .modal .modal-footer .btn-group > .btn:first-child {
        border-bottom-left-radius: 0;
    }

    .modal .modal-footer .btn-group > .btn:last-child {
        border-top-right-radius: 0;
    }

/*Search form*/


#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #000;
    }

.search-query:focus + button {
    z-index: 3;
}
