@{
    ViewBag.Title = "ModifyStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cập Nhật Nhân Viên</h2>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table mb-none">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ Tên</th>
                    <th>Username</th>
                    <th>Quyền Hạn</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Vũ Đình Minh</td>
                    <td>minh</td>
                    <td>Quản Trị</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Vũ Văn A</td>
                    <td>ABC</td>
                    <td>Nhân Viên</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vũ Phong</td>
                    <td>phong</td>
                    <td>Nhân Viên</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
