@{
    ViewBag.Title = "ModifyStore";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cập Nhật Chi Nhánh</h2>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table mb-none">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Cửa Hàng</th>
                    <th>Nhân Viên Quản Lý</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện Thoại</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cửa Hàng AAA</td>
                    <td>Vũ Đình Minh</td>
                    <td>12 Tô Ký, Q12, tp HCM</td>
                    <td>08-123456789</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Cửa Hàng BBB</td>
                    <td>Vũ Văn A</td>
                    <td>123 Quang Trung, Q12, tp HCM</td>
                    <td>08-987654321</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Cửa Hàng CCC</td>
                    <td>Vũ Phong</td>
                    <td>234 Đồng Khởi, Biên Hòa, ĐN</td>
                    <td>061-31234567</td>
                    <td class="actions-hover actions-fade">
                        <a href=""><i class="fa fa-pencil"></i></a>
                        <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
