@{
    ViewBag.Title = "Cậ nhật thông tin yêu cầu cho khách hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet" />

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Chi tiết yêu cầu</h2>

        <div class="right-wrapper pull-right">
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Cập nhật thông tin yêu cầu cho khách hàng</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="get">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Default</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputDefault" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDisabled">Disabled</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputDisabled" placeholder="Disabled input here..." disabled="true" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputReadOnly">Read-Only Input</label>
                            <div class="col-md-6">
                                <input value="Read-Only Input" id="inputReadOnly" class="form-control" readonly="readonly" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputHelpText">Help text</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputHelpText" type="text">
                                <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputRounded">Rounded Input</label>
                            <div class="col-md-6">
                                <input class="form-control input-rounded" id="inputRounded" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputFocus">Input focus</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputFocus" value="This is focused..." type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPlaceholder">Placeholder</label>
                            <div class="col-md-6">
                                <input class="form-control" placeholder="placeholder" id="inputPlaceholder" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPassword">Password</label>
                            <div class="col-md-6">
                                <input class="form-control" placeholder="" id="inputPassword" type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" col-md-3 control-label">Static control</label>
                            <div class="col-lg-6">
                                <p class="form-control-static">email@example.com</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Left Icon</label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-user"></i></span>
                                    </span>
                                    <input class="form-control" placeholder="Left icon" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Right Icon</label>
                            <div class="col-md-6">
                                <div class="input-group input-group-icon">
                                    <input class="form-control" placeholder="Right icon" type="text">
                                    <span class="input-group-addon">
                                        <span class="icon"><i class="fa fa-user"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Search</label>
                            <div class="col-md-6">
                                <div class="input-group input-search">
                                    <input class="form-control" name="q" id="q" placeholder="Search..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">File Upload</label>
                            <div class="col-md-6">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-exists">Change</span>
                                            <span class="fileupload-new">Select file</span>
                                            <input type="file">
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Vertical Group</label>
                            <div class="col-md-6">
                                <section class="form-group-vertical">
                                    <input class="form-control" placeholder="Username" type="text">
                                    <input class="form-control" placeholder="Email" type="text">
                                    <input class="form-control last" placeholder="Password" type="password">
                                </section>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Vertical Group w/ icon</label>
                            <div class="col-md-6">
                                <section class="form-group-vertical">
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-user"></i></span>
                                        </span>
                                        <input class="form-control" placeholder="Username" type="text">
                                    </div>
                                    <div class="input-group input-group-icon">
                                        <span class="input-group-addon">
                                            <span class="icon"><i class="fa fa-key"></i></span>
                                        </span>
                                        <input class="form-control" placeholder="Password" type="text">
                                    </div>
                                </section>
                            </div>
                        </div>

                        <div class="form-group has-success">
                            <label class="col-md-3 control-label" for="inputSuccess">Input with success</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputSuccess" type="text">
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-md-3 control-label" for="inputWarning">Input with warning</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputWarning" type="text">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-md-3 control-label" for="inputError">Input with error</label>
                            <div class="col-md-6">
                                <input class="form-control" id="inputError" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputTooltip">Input with Tooltip</label>
                            <div class="col-md-6">
                                <input placeholder="Hover me" title="" data-toggle="tooltip" data-trigger="hover" class="form-control" data-original-title="Place your tooltip info here" id="inputTooltip" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPopover">Input with Popover</label>
                            <div class="col-md-6">
                                <input placeholder="Click Here" class="form-control" data-toggle="popover" data-placement="top" data-original-title="The Title" data-content="Content goes here..." data-trigger="click" id="inputPopover" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Column sizing</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <input class="form-control" placeholder=".col-sm-2" type="text">
                                    </div>
                                    <div class="visible-xs mb-md"></div>
                                    <div class="col-sm-3">
                                        <input class="form-control" placeholder=".col-sm-3" type="text">
                                    </div>
                                    <div class="visible-xs mb-md"></div>
                                    <div class="col-sm-4">
                                        <input class="form-control" placeholder=".col-sm-4" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <footer class="panel-footer">
                    <button class="btn btn-primary right">Xạc nhận</button>
                    <button type="reset" class="btn btn-default right">Reset</button>
                </footer>
            </section>
        </div>
    </div>
    <!-- end: page -->
</section>

<script src="~/Content/Admin/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>